$background: #333232;

$green-main: #5cb08d;
$green-sub: #acc19b;

$blue-yes: #1a9fff;
$red-no: #e8793b;

$gray-main: #5c5a58;
$gray-sub: #40423e;

$cate-red: #f86d7d;
$cate-orange: #f4a261;
$cate-yellow: #dfbb39;
$cate-lightgreen: #22c58b;
$cate-darkgreen: #2a9d8f;
$cate-blue: #39b0df;
$cate-purple: #cc99c9;

$white: #fff;

$hover-red: #bf5717;
$hover-gray: #242222;
$hover-green: #3f8366;
$hover-blue: #0376c4;
